<% layout('layouts/boilerplate') %>
<div class="container text-center display-1 fw-bold">TripHive</div>
<div class="w-full max-w-sm bg-gray-700 rounded-3xl shadow-2xl mb-5">
  <span href="#">
    <img
      src="../assets/triphive-img.jpg"
      alt=""
    />
  </span>
</div>
