<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>TripHive</title>
    <link rel="icon" href="/assets/triphive-favicon.png" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/stylesheets/home.css" />
  </head>

  <body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
      <header class="mb-auto">
        <div>
          <nav class="nav nav-masthead justify-content-between float-md-right">
            <a class="navbar-brand" href="#">
              <img
                src="/assets/triphive.png"
                alt=""
                height="30px"
                width="auto"
              />
            </a>
            <div class="d-flex">
              <a class="nav-link active me-0" aria-current="page" href="#"
                >Home</a
              >
              <a class="nav-link" href="/hotel">Hotels</a>
              <% if(!currentUser) { %>
              <a class="nav-link" href="/login">Login</a>
              <a class="nav-link" href="/register">Register</a>
              <% } else { %>
              <a class="nav-link" href="/logout">Logout</a>
              <% } %>
            </div>
          </nav>
        </div>
      </header>
      <main class="px-3">
        <h1>TripHive</h1>
        <p class="lead">
          Welcome to TripHive! <br />
          Jump right in and explore our many hotels. <br />
          Feel free to share some of your own and leave review on others!
        </p>
        <a
          href="/hotel"
          class="btn btn-lg btn-secondary font-weight-bold border-white bg-white"
          >View Hotels</a
        >
      </main>

      <footer class="mt-auto w-100 bg-transparent">
        <div class="d-flex justify-content-between">
          <div class="text-light">
            Developed by :
            <a
              href="https://github.com/Khushal-ag"
              class="text-light"
              target="_blank"
              >Khushal Agarwal</a
            >
          </div>
          <div class="text-light">
            <span class="text-muted">&copy; 2024 Copyright :</span> TripHive
          </div>
        </div>
      </footer>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
